.input {
    background: var(--inputBackgroundColor);
    border: 1px solid var(--inputBorderColor);
    padding: 15px 10px;
    width: 100%;
}

.input::placeholder {
    color: var(--inputPlaceholderFontSize);
}