.formContainer {
    align-items: flex-end;
    margin: 0 auto;
    max-width: var(--containerMaximumWidth);
    width: var(--containerSizeNormal);
}

.formContainer__input {
    align-items: center;
    width: 100%;
}

.formContainer,
.formContainer__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}