:root {
  --buttonBackground: #08AAD7;
  --buttonColor: #FFF;

  --containerMaximumWidth: 800px;
  --containerSizeNormal: 80%;

  --inputBackgroundColor: #F0F2F6;
  --inputBorderColor: #000;
  --inputPlaceholderFontSize: 16px;

  --basicFontSize: 14px;
  --labelFontSize: 24px;
  --resultsFontSize: 20px;
  --descriptionFontSize: 12px;

  --submitButtonMaxWidth: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}